{% if current_user.is_authenticated %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/dashboard">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Icon" width="24" height="24"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dashboard"><img
              src="{{ url_for('static', filename='icons/home.svg') }}" alt="Home" width="24" height="20"
              class="icon">Home</a>
        </li>
        <li class="nav-item">
        </li>
        </li>
        <!-- Create Task -->
        <li class="nav-item">
          <a class="nav-link" href="/form"><img src="{{ url_for('static', filename='icons/plus-square.svg') }}"
              alt="Create" width="24" height="20" class="icon">Create</a>
        </li>
        <li class="nav-item">
        </li>
        </li>
        <!-- Profile -->
        <li class="nav-item">
          <a class="nav-link" href="/profile"><img src="{{ url_for('static', filename='icons/user.svg') }}"
              alt="Profile" width="24" height="20" class="icon">Profile</a>
        </li>
        <!-- Settings -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ url_for('static', filename='icons/settings.svg') }}" alt="Settings" width="24" height="20"
              class="icon">Settings</a>
          <!-- Two-step verification -->
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item disabled" href="#"><img src="{{ url_for('static', filename='icons/server.svg') }}"
                  alt="2FA" width="24" height="20" class="icon">Two-step verification</a>
            </li>
            <!-- Download Data -->
            <li>
              <a class="dropdown-item" href="/download_data?user_id={{ current_user.id }}"><img
                  src="{{ url_for('static', filename='icons/user.svg') }}" alt="DownloadUser" width="24" height="20"
                  class="icon">Download user
                data</a>
            </li>
            <!-- Preferences -->
            <li>
              <a class="dropdown-item" href="/preferences"><img src="{{ url_for('static', filename='icons/user.svg') }}"
                  alt="Preferences" width="24" height="20" class="icon">Preferences</a>
            </li>
            <!-- Delete User -->
            <li>
              <form action="{{ url_for('auth_user.deleteUser') }}" method="POST" class="deleteUser">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="dropdown-item"><img
                    src="{{ url_for('static', filename='icons/user-minus.svg') }}" alt="DeleteUser" width="24"
                    height="20" class="icon">Delete
                  account</button>
              </form>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <!-- Logout -->
            <li>
              <form action="/logout" method="POST" class="logout">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="dropdown-item text-danger"><img
                    src="{{ url_for('static', filename='icons/log-out.svg') }}" alt="Logout" width="24" height="20"
                    class="icon">Logout</button>
              </form>
            </li>
        </li>
      </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true"></a>
      </li>
      </ul>
</nav>
<script src="{{ url_for('static', filename='js/menu.js') }}" nonce="{{ nonce }}"></script>
{% endif %}