* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

/* General Styles */
.container {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

/* Layout */
.navbar {
  height: 50px;
}

.nav-link {
  display: flex;
}

.sidebar {
  width: 400px;
  min-height: 100vh;
}

.icon {
  padding-right: 4px;
}

.underline {
  text-decoration: underline;
}

.indent-40 {
  padding-left: 40px;
}

/* Login and signup page */
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 400px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 2rem;
}

.login-title {
  text-align: left;
  margin-bottom: 1.5rem;
}

/* Log preview */
#logPreview p {
    line-height: 1.1;
    margin-bottom: 4px;
}
#logPreview h4 {
    margin-bottom: 6px;
}

/* To do list */
.todo-network {
  height: 400px;
  border: 1px solid #ddd;
}

/* Icons */
[data-bs-theme="dark"] .icon {
    filter: invert(1) brightness(1.5);
}