{% extends 'layout.html' %}
{% block content %}
<!-- Title -->
<div class="container">
    <div class="row">
        <h2>Preferences</h2>
    </div>

    <!-- Layout -->
    <form method="POST" action="{{ url_for('auth_profile.set_layout') }}" aria-label="Choose layout">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="layout">Choose layout:</label>
        <select name="layout" id="layout" class="form-select">
            <option value="sidebar" {% if current_user.layout=='sidebar' %}selected{% endif %}>Sidebar</option>
            <option value="topbar" {% if current_user.layout=='topbar' %}selected{% endif %}>Topbar</option>
        </select>
        <button type="submit" class="btn btn-primary mt-2">Save</button>
    </form>

    <!-- Privacy -->
    <form method="POST" action="{{ url_for('auth_profile.set_theme') }}" aria-label="Choose profile restrictions">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="layout">Choose profile restrictions:</label>
        <select name="privacy" id="layout" class="form-select">
            <option value="private" {% if current_user.privacy=='private' %}selected{% endif %}>Private</option>
            <option value="public" {% if current_user.privacy=='public' %}selected{% endif %}>Public</option>
        </select>
        <button type="submit" class="btn btn-primary mt-2">Save</button>
    </form>

    <!-- Searchs -->
    <form method="POST" action="{{ url_for('auth_profile.profile_search') }}" aria-label="Search user by ID">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="user_id">Search user by ID:</label>
        <input type="number" name="user_id" id="user_id" class="form-select" placeholder="Enter user ID" min="1"
            required>
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>

</div>
{% endblock %}