{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h1><img src="/static/icons/user.svg" alt="Icon" width="35" height="35"> {{ current_user.firstname }} {{ current_user.lastname }}</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6 mb-4 d-flex justify-content-center">
        <canvas id="taskProgressionChart" width="800" height="350"></canvas>
    </div>
    <div class="col-12 col-md-6 col-lg-2 mb-4 d-flex justify-content-center">
        <canvas id="taskPieChart" width="200" height="200"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="{{ nonce }}"></script>

<!-- Jinga2 code -->
<script nonce="{{ nonce }}">
    window.completed = {{ completed }};
    window.ongoing = {{ ongoing }};
    window.overdue = {{ overdue }};
</script>

<!-- Progression chart -->
<script nonce="{{ nonce }}">
    window.progressionLabels = {{ labels|tojson }};
    window.progressionStats = {{ stats|tojson }};
</script>

<script src="{{ url_for('static', filename='js/chart-progression.js') }}" nonce="{{ nonce }}"></script>
<script src="{{ url_for('static', filename='js/chart-config.js') }}" nonce="{{ nonce }}"></script>
{% endblock %}