{% extends 'layout.html' %}
{% block content %}
<div class="login-container">
    <div class="login-card">
        <h3 class="login-title">Signup</h3>
        <form action="{{ url_for('auth.signup') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <!-- First and last name -->
            <div class="row">
                <div class="col-md-6"><input type="text" name="firstname" class="form-control mb-3"
                        placeholder="First Name" required /></div>
                <div class="col-md-6"><input type="text" name="lastname" class="form-control mb-3"
                        placeholder="Last Name" required /></div>
            </div>
            <!-- Email -->
            <input name="email" type="email" class="form-control mb-3"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,4}$" autocomplete="off" placeholder="name@example.com">
            <!-- Password -->
            <input type="password" name="password" id="password" class="form-control mb-3" placeholder="Password"
                required minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"
                title="Password must be at least 8 characters long and contain at least one letter and one number."
                autocomplete="current-password" />
            <div class="mb-3">
                <small id="password-requirements" class="form-text text-muted">
                    Password must be at least 8 characters long and contain at
                    least one letter and one number.
                </small>
            </div>
            <button type="submit" class="btn btn-dark w-100 mb-3">Create
                Account</button>
        </form>
        <div class="text-center mt-3 d-flex align-items-center justify-content-center">
            <p class="text-muted mb-0 me-2">Already have an account?</p>
            <a href="{{ url_for('auth_login.login') }}">Login</a>
        </div>
    </div>
</div>
{% endblock %}